<!DOCTYPE html>
<html>
  <head>
    <title>PetHelp</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'icon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg justify-content-between">
          <%= link_to root_path, class: "navbar-brand" do %>
              <%= image_tag("logo.jpg", alt: "Njuska", class: "logo") %>
          <% end %>

          <div class="navbar-nav">
            <%= link_to "Životinje", root_path, class: 'nav-item nav-link' %>
            <%= link_to "O Njušci", about_path, class: 'nav-item nav-link' %>
            <%= link_to "Novosti", news_path, class: 'nav-item nav-link' %>

            <% if user_signed_in? %>
                <div class="nav-item dropdown">
                  <a class="nav-item dropdown nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Moj Profil</a>
                  <div class="dropdown-menu">
                    <%= link_to "Moje Životinje", animals_path, class: 'nav-link' %>
                    <%= link_to "Podaci", edit_user_registration_path, class: 'nav-link' %>
                    <%= link_to "Izloguj se", destroy_user_session_path, method: :delete, class: 'nav-link' %>
                  </div>
                </div>
            <% else %>
                <%= link_to "Napravi nalog", new_user_registration_path, class: 'nav-item nav-link' %>
                <%= link_to "Uloguj se", new_user_session_path, class:'nav-item nav-link' %>
            <% end %>
          </div>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      Milica Poša - FIT Metropolitan Talenti 2018
    </footer>

    <div id="modal-holder"></div>
  </body>
</html>
